<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>

    <h2>Uma unica variavel</h2>
    <%= pessoa.nome %>

    <h2>Iterando um array</h2>
    <br>
    <% dados.forEach((linha)=>{ %>
         <!-- posso escrever html aqui -->
        <b> <%= linha.campo1 %>  </b> <br>
    <%})%>

</body>
</html>